{%- extends "bootstrap/base.html" %}
{% block title %}JDiggity{% endblock %}
{% block head %}
{{ super() }}
{%- endblock %}

{% block styles -%}
  {{ super() }}
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{{url_for('.index')}}">
      {% if title  %}
        {{ title }}
      {% else %}
	JDiggity
      {% endif %}
    </a>
  </nav>
  <br/>
{% endblock %}
