{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}

  <div class="container">
    <div class="jumbotron" style="background-image: url(static/space.jpg); background-size: 100%;">
      <span class="text-white"><h1>Home</h1>
      <p>This is where I'll post my resume and personal projects. 
      Stay tuned for some great projects and interesting dev posts(:
      This page is built with <a href="http://getbootstrap.com">Bootstrap</a> and is written with python
      using <a href="http://flask.pocoo.org/docs/1.0/">Flask.</a>
      </p></span>
    </div>
    <br/>

  </div>

{%- endblock %}
