{%- extends "base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block content %}
  <div class="container">
    <div class="jumbotron bg-white border border-success">
      <span class="">
        <h1>Jaytoo GNU/Linux</h1>
        <p> 
      	  Jaytoo is an install script for Gentoo GNU/Linux.
          As of now, Jaytoo consists of 2 shell scripts that walk
          users through the process of isntalling a barebones Gentoo
          system.
        </p>
        <hr class="my-4">
        <p>
          Get the latest iso release below, and get started on the path 
          to cflags and waiting for emerge to finish!!! <i class="em-grin"></i>
        </p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('serve_jaytoo') }}" role="button">Get Jaytoo</a>
      </span>
    </div>
    <br/>
  </div>
{%- endblock %}
